<!-- pilots.component.html -->
<div class="container-fluid">
  <div class="container title-section my-5">
    <h2 class="text-uppercase mb-0 py-2 fs-2">Films</h2>
  </div>
  <div class="films-cards-section container my-5 ">
    <div class="d-flex flex-wrap gap-3">
      @for (film of films; track film.id) {
      <div class="mb-5 film-card rounded-3" style="background-color:#212529; color:#ccc;">
        <img class=" rounded-top-3" [src]="film.imageUrl" (error)="onImageError($event)" alt="{{film.title}}"
          style="width: 100%; max-width: 300px;">
        <h5 class="text-uppercase text-center pt-4 mb-0">{{film.title}}</h5>
        <p class="text-center mb-0">Episode {{film.episode_id}}</p>
        <p class="text-center pb-4">Director: {{film.director}}</p>
      </div>
      }

    </div>
  </div>
