.card {
  background-color: #212529;
  color: #ccc;
}
.card-body:hover > .decal > .decal-line {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-shadow: 0 0 6px 1px #fff;
}

.card-body:hover > .decal > .decal-dot {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff; /* Asegúrate de que el borde izquierdo y derecho también sean sólidos */
  border-right: 2px solid #fff;
  box-shadow: 0 0 6px 1px #fff;
}

.decal-dot {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  border: 2px solid #5a5c5d;
  transition: all 0.3s ease;
}

.decal-line {
  display: block;
  content: "";
  border-radius: 2px;
  transition: all 0.3s ease;
  border-top: 2px solid #5a5c5d;
  border-bottom: 2px solid #5a5c5d;
  width: 24px;
}
