<!-- starships.component.html -->
<div class="container pt-5">
  <div class="pagination-buttons">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
    <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="goToPage(i + 1)">
      {{ i + 1 }}
    </button>
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
</div>
<div class="container d-flex flex-wrap gap-3 justify-content-center py-5">

  @for (starship of starships; track starship.id) {
  <div class="card rounded-3">
    <img [src]="starship.imageUrl" (error)="onImageError($event)" alt="{{starship.name}}" class="card-img-top">
    <div class="card-body p-4 rounded-3">
      <div class="decal d-flex gap-1 pb-3">
        <div class="decal-line"></div>
        <div class="decal-dot"></div>
      </div>
      <h5 class="card-title">{{starship.name}}</h5>
      <p class="card-text">{{starship.model}}</p>
      <a [routerLink]="['/starships', starship.id]" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  }
</div>
