.nav__list {
  display: flex;
  justify-content: center;
  margin: auto;
}
.nav__list {
  display: flex;
  list-style: none;
  color: var(--main-bg-color);
}
.nav__list > li {
  padding: 0 2rem;
}
.nav__link {
  color: var(--nav-color);
  text-decoration: none;
  text-transform: uppercase;
}
