<div class="container-fluid hero-section col-xxl-10 px-4 py-5 rounded-5 my-5 d-flex align-items-center">
  <div class="container align-items-center g-5 py-5 ">
    <div class="d-none">
      <!-- <img src="../../../assets/bg-hero.jpeg" class="d-block d-lg-none mx-lg-auto img-fluid" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy"> -->
    </div>
    <div class="col-lg-5">
      <h2 class="hero-title mb-3"><i>Star Wars: The Phantom Menace</i> Celebrates 25 Years with
        Return to
        Theaters</h2>
      <p class="hero-text lead">Episode I will mark a milestone on the big screen.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-2">
        <button type="button" class="btn btn-warning btn-lg rounded-5 text-uppercase px-4 fw-bold">Read
          More</button>
      </div>
    </div>
  </div>
</div>

<!-- nav sections -->
<!-- premieres section modules -->
<div class="d-flex px-4">
  <div class="container nav-card-container d-flex flex-wrap px-2 justify-content-lg-center pt-8 gap-3">
    <div class="card-modules rounded-3">
      <a class="nav-link" [routerLink]="['starships']"><img src="../../../assets/card-general-starship.jpg"
          alt="StarWars Starships" class="card-img-top rounded-top-3"></a>
      <div class="card-modules-body p-4 rounded-3">
        <div class="decal d-flex gap-1 pb-3">
          <div class="decal-line"></div>
          <div class="decal-dot"></div>
        </div>
        <h5 class="card-modules-title">
          <a class="nav-link" [routerLink]="['starships']">"Starships" - Official Starships | Star Wars: History</a>
        </h5>
        <p class="card-modules-text"></p>
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-2">
          <button type="button" class="btn btn-warning px-5 py-2 me-md-2 rounded-5">More Info</button>
        </div> -->
      </div>
    </div>
    <div class="card-modules rounded-3">
      <a class="nav-link" [routerLink]="['pilots']"><img src="../../../assets/card-general-pilots.jpg"
          alt="StarWars Pilots" class="card-img-top rounded-top-3"></a>
      <div class="card-modules-body p-4 rounded-3">
        <div class="decal d-flex gap-1 pb-3">
          <div class="decal-line"></div>
          <div class="decal-dot"></div>
        </div>
        <h5 class="card-modules-title">
          <a class="nav-link" [routerLink]="['pilots']">"Pilots" - Official Pîlots | Star Wars: Legends</a>
        </h5>
        <p class="card-modules-text"></p>
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-2">
          <button type="button" class="btn btn-warning px-5 py-2 me-md-2 rounded-5">More Info</button>
        </div> -->
      </div>
    </div>
    <div class="card-modules rounded-3">
      <a class="nav-link" [routerLink]="['films']"><img src="../../../assets/card-general-films.jpg"
          alt="StarWars films" class="card-img-top rounded-top-3"></a>
      <div class="card-modules-body p-4 rounded-3">
        <div class="decal d-flex gap-1 pb-3">
          <div class="decal-line"></div>
          <div class="decal-dot"></div>
        </div>
        <h5 class="card-modules-title">
          <a class="nav-link" [routerLink]="['films']">"Films" - Official Films | Star Wars: Original Movies</a>
        </h5>
        <p class="card-modules-text"></p>
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-2">
          <button type="button" class="btn btn-warning px-5 py-2 me-md-2 rounded-5">More Info</button>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- premieres section  -->
<div class="container-fluid premieres-section px-4 pt-5 rounded-5 mt-5 d-flex flex-column ">
  <div class="d-flex ">
    <div class=" container g-5 py-5 ">
      <div class=" d-none">
        <!-- <img src="../../../assets/bg-hero.jpeg" class="d-block d-lg-none mx-lg-auto img-fluid" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy"> -->
      </div>
      <div class="col-lg-12 d-flex flex-column">
        <div class="logo-title-container pb-4">
          <img class="logo-title" src="../../../assets/logo-bad-batch.png" alt="">
        </div>
        <div>
          <p class="premieres-section-text lead">The final season premieres February 21, only on Disney+.</p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-2">
          <button type="button" class="btn btn-warning rounded-5 text-uppercase px-4 fw-bold">Explore</button>
        </div>
      </div>
    </div>
  </div>

  <!-- premieres section modules -->
  <div class="d-flex ">
    <div class="container d-flex flex-wrap gap-3 justify-content-lg-center pt-8">

      <div class="card-modules rounded-3">
        <img class="" src="../../../assets/module-img-01.jpeg" alt="" class="card-img-top rounded-top-3">
        <div class="card-modules-body p-4 rounded-3">
          <div class="decal d-flex gap-1 pb-3">
            <div class="decal-line"></div>
            <div class="decal-dot"></div>
          </div>
          <h5 class="card-modules-title">
            "Confined" - Official Clip | Star Wars: The Bad Batch
          </h5>
          <p class="card-modules-text"></p>
          <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-2">
            <button type="button" class="btn btn-warning px-5 py-2 me-md-2 rounded-5">More Info</button>
          </div> -->
        </div>
      </div>

      <div class="card-modules rounded-3">
        <img class="" src="../../../assets/module-img-02.jpeg" alt="" class="card-img-top rounded-top-3">
        <div class="card-modules-body p-4 rounded-3">
          <div class="decal d-flex gap-1 pb-3">
            <div class="decal-line"></div>
            <div class="decal-dot"></div>
          </div>
          <h5 class="card-modules-title">
            Final Season Official Trailer - The Bad Batch
          </h5>
          <p class="card-modules-text"></p>
          <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-2">
            <button type="button" class="btn btn-warning px-5 py-2 me-md-2 rounded-5">More Info</button>
          </div> -->
        </div>
      </div>
      <div class="card-modules rounded-3">
        <img src="../../../assets/module-img-03.jpeg" alt="" class="card-img-top rounded-top-3">
        <div class="card-modules-body p-4 rounded-3">
          <div class="decal d-flex gap-1 pb-3">
            <div class="decal-line"></div>
            <div class="decal-dot"></div>
          </div>
          <h5 class="card-modules-title">
            Watch the Star Wars: The Bad Batch Season 3 Trailer
          </h5>
          <p class="card-modules-text"></p>
          <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start pt-2">
            <button type="button" class="btn btn-warning px-5 py-2 me-md-2 rounded-5">More Info</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
