<!-- top-nav.component.html -->
<div
  class="top-nav d-flex justify-content-center justify-content-lg-between  pt-4 align-items-center container-fluid px-8">
  <!-- top-nav__social d-none d-lg-flex  -->
  <div class="top-nav__social ">
    <div class="social-links d-flex">

      <div class="social-icon">
        <a class="social-icon__link" href="https://www.tiktok.com/@starwars" target="_blank" rel="noopener noreferrer">
          <img class="social-icon__image" src="../../../../assets/logo_tiktok.svg" alt="TikTok">
        </a>
      </div>
      <div class="social-icon">
        <a class="social-icon__link" href="https://www.instagram.com/starwars/" target="_blank"
          rel="noopener noreferrer">
          <img class="social-icon__image" src="../../../../assets/logo_instagram.svg" alt="Instagram">
        </a>
      </div>
      <div class="social-icon">
        <a class="social-icon__link" href="https://twitter.com/starwars" target="_blank" rel="noopener noreferrer">
          <img class="social-icon__image" src="../../../../assets/logo_twitter.svg" alt="Twitter">
        </a>
      </div>
      <div class="social-icon">
        <a class="social-icon__link" href="https://www.facebook.com/StarWars" target="_blank" rel="noopener noreferrer">
          <img class="social-icon__image" src="../../../../assets/logo_facebook.svg" alt="Facebook">
        </a>
      </div>
      <div class="social-icon">
        <a class="social-icon__link" href="https://www.youtube.com/user/starwars" target="_blank"
          rel="noopener noreferrer">
          <img class="social-icon__image" src="../../../../assets/logo_youtube.svg" alt="Youtube">
        </a>
      </div>
      <div class="social-icon separator">
      </div>
      <div class="social-icon__kids">
        <a class="social-icon__link" href="https://starwarskids.com/" target="_blank" rel="noopener noreferrer">
          <img class="" src="../../../../assets/logo_kids.svg" alt="kids">
        </a>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="top-nav__logo ">
    <div class="logo"></div>
  </div>
  <!-- d-none d-lg-flex  -->
  <div class="top-nav__login ">
    <div class="login-links">
      <ul class="login-links__list">
        <li class="login-link">
          <a class="login-link__text" href="#" target="_blank" rel="noopener noreferrer">
            <img class="login-link__image" src="../../../../assets/icon_search.svg" alt="Search Box">
            Search
          </a>
        </li>
        <li class="login-link">
          <a class="login-link__text" href="#" target="_blank" rel="noopener noreferrer">
            <img class="login-link__image" src="../../../../assets/icon_user.svg" alt="Login User">
            Sign in
          </a>
        </li>

      </ul>
    </div>
  </div>

</div>
