// top-nav.styles
.social-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  margin-right: 0.6rem;
}
.social-icon__kids {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
}
img.social-icon__image {
  width: 20px;
  height: 20px;
}
.separator {
  border-left: 1px solid var(--extra-color);
  margin-left: 0.5rem;
  margin-right: 0px;
  height: 30px;
}
.logo {
  width: 185px;
  height: 80px;
  background-image: url("../../../../assets/logo_starwars.png");
  background-size: cover;
  background-position: center;
  margin: 0px;
}
.login-link__text {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.login-links > ul > li {
  list-style: none;
  display: inline;
  padding-right: 1.2rem;
  padding-left: 0px;
  width: 32px;
  height: 32px;
}
.login-links > ul {
  margin: 0px;
}
.login-link__image {
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
}

/* .xs = | Extra Small devices only (portrait phones) less than 576px */
@media (min-width: 360px) and (max-width: 420px) {
  .logo {
    margin: 0 !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
  .logo {
    margin: 0 !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .logo {
    width: 233px !important;
    height: 24px !important;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .logo {
    width: 312px;
    height: 32px;
    background-image: url("../../../../assets/logo_starwars_mobile.png");
    background-size: cover;
    background-position: center;
    margin: 0 10rem;
  }
  .px-8 {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .login-links > ul {
    padding-left: 1rem;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}
