// top-nav.styles
.social-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  margin-right: 0.6rem;
}
.social-icon__kids {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
}
img.social-icon__image {
  width: 20px;
  height: 20px;
}
.separator {
  border-left: 1px solid var(--extra-color);
  margin-left: 0.5rem;
  margin-right: 0px;
  height: 30px;
}
.logo {
  width: 185px;
  height: 80px;
  background-image: url("../../../../assets/logo_starwars.png");
  background-size: cover;
  background-position: center;
}
.login-link__text {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.login-links > ul > li {
  list-style: none;
  display: inline;
  padding-right: 1.2rem;
  padding-left: 0px;
  width: 32px;
  height: 32px;
}
.login-links > ul {
  margin: 0px;
}
.login-link__image {
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
}
